


@font-face {
  font-family: "Rajdhani";
  src: url(../public/fonts/Rajdhani-Medium.ttf) ;
}

@font-face {
  font-family: "Blanks";
  src: url(../public/fonts/Blanka-Regular.otf) ;
}

@font-face {
  font-family: "sand";
  src: url(../public/fonts/Quicksand-VariableFont_wght.ttf) ;
}

p{
  margin: 0;
}



.navcontain {
  height: 5vh;
  width: 100%;
  background-color: rgb(244, 242, 239);
  color: rgb(56, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
 font-family: Blanks;
 letter-spacing: 4px;
  
}


.main {
  height: 95vh;
  
  background-color: rgb(244, 242, 239);
  color: rgb(30, 23, 23);
  position: relative;
  overflow: hidden;
}

.headline {
  font-size: 200px;
  font-family: Rajdhani;
  font-weight: bolder;
  padding-top: 30px;
  margin: 0;

  margin-left: 59px;
}
.vision {
  position: absolute;
  z-index: 2;
  top: 180px;
}

.mainImg {
  position: absolute;
  z-index: 2;
  bottom: -89px;
  width: 600px;
  right: 0;
}

.vision-text {
  padding-top: 175px;
  padding-left: 64px;
  font-size: 23px;
  font-family: sand;
}


.btn-try{
  height: 40px;
  background: transparent;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-family: sand;
  font-weight: bold;
  margin-left: 63px;
  margin-top: 40px;
}

.btn-try:hover {
  background-color: black;
  color: white;
  transition: 0.7s;
}

.btncontainer {
  display: flex;
  align-items: center
}

.learnmore {
  padding-top: 40px;
  color: rgb(11, 11, 141);
  padding-left: 20px;
  font-size: 20px;
}